/* removing the default values  applied when browser loaded  */
*,::after,::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* declaring the variables i'll be using  */
:root{
    --border-color:#20b2aa;
    --code-color1:#008000;
    --code-color2:#ff0000;
    --code-color3:#0000ff;
    --code-color4:#800080;
    --nav-color:#01011c;
    --text-color:#2d2d2d;
    --background-codecolor:#c9c9c9;
    --border:2px solid #cac9c9;
    --font-family1:Verdana, Geneva, Tahoma, sans-serif;
    --font-family2:Georgia, 'Times New Roman', Times, serif;
    --font-family3:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width:100%;
    display:flex;
    font-family: var(--font-family3);
}
/* navigation bar */
#navbar{
    width:25%;
    border:1px dashed var(--nav-color);
    box-shadow: -5px 5px var(--nav-color);
    height: fit-content;
    padding:2px 0;
    display: flex;
    flex-direction: column;  
    gap:20px;
    margin:10px 15px;
    position:sticky;
    top:0;
}
#navbar ul li{
    padding:10px;
    list-style-type: none;
    border-bottom:1px solid #dadada;
    text-align: left;
    padding:20px 10px;
}
#navbar ul li:first-child{
    border-top:1px solid #dadada;
}
#navbar ul li:hover{
    background:var(--background-codecolor);
}
a{
    font-size: 16px;
    text-decoration: none;
    color:var(--nav-color);
}
#navbar header{
    text-align: left;
    color: var(--nav-color);
    padding:10px 5px;
}
#navbar header h1{
    font-size: 24px;
    text-transform: capitalize;
}
/*  styling the main  */
main{
    flex:1;
    padding:10px 20px; 
    color:var(--text-color);  
}
/* sections  */
.main-section{
    line-height: 40px;
    padding-bottom:20px;
    margin-bottom:20px;
}
/* sections header */
.main-section header{
    color:var(--nav-color);
    padding:10px 0;
}
.main-section header h2{
    font-size:24px;
    font-weight: bold;
}
/* styling all element nested in code element */
code{
    font-size: 16px;
    font-weight: 600;
    padding:2px;
    margin-left:5px;
}
/* styling the main-section paragraph */
.main-section p ,.main-section li{
    font-size: 18px;   
}
/* main-section lists */
.main-section ul{
    margin:15px 0;
}
.main-section li{
    width:fit-content;
    margin-left:20px;
}
/* styling the code snippets */
.logic{
    width:60%;
    line-height:normal;
    padding:10px;
    margin:15px 40px;
    border-radius: 10px;
    background:transparent;
    border:1px solid var(--background-codecolor);
}
/* different style to code element with classname of function */
.logic .function{
    font-weight: lighter;   
}
/* setting the colors to make the code snippets more readable and efficieny */
code span[class="purple"]{
    color:var(--code-color4);
}
code span[class="green"]{
    color:var(--code-color1);
}
code span[class="blue"]{
    color:var(--code-color3);
}
code span[class="red"]{
    color:var(--code-color2);
}
/* div container which nest a span */
div span{
    width:50px;
    padding:5px;
}
/* the listed highlight to focus on  */
div span[class="big"]{
    font-size:15px;
    font-weight: bold;
    border:3px solid var(--border-color);
}
span[class="fun"]{
    font-size:18px;
}
/* the element in the fieldset */
fieldset{
    border:none;
}
legend{
    font-size: 20px;
    font-weight:600;
}
/* responsiveness on 3 different screen device  */
/* lagrer screens than laptops  */
@media screen and (min-width:1025px) {
    .logic{
        width:70%;
        padding:15px 25px;
        margin:15px 60px;
    }   
}
/* large screens like desktops and laptops */
@media (min-width: 769px) and (max-width:1024){
    .logic{
        width:80%;
    }   
}
/* small devices like moblie and tablets devices  */
@media (min-width: 481px) and (max-width: 768px) { 
    body{
        flex-direction: column;
    }
    #navbar{
        width:100%;
        margin: 0;
        border:unset;
        box-shadow: none;
        position:relative;   
    }
    #navbar ul{
        border:1px solid var(--nav-color);
    }
    #navbar ul li{
        padding:10px 5px;
    }
    .logic{
        width:80%;
    }
 } 
 /* smaller screen like mobile phone  */
 @media screen and (max-width: 480px){
    body{
        flex-direction: column;
    }
    #navbar{
        width:100%;
        margin: 0;
        border:unset;
        box-shadow: none;
        position:relative;   
    }
    #navbar ul{
        border:1px solid var(--nav-color);
    }
    #navbar ul li{
        padding:5px 5px;
        margin-left: 10px;
    }  
    .logic{
        width:100%;
        margin:15px 0;
    } 
 }
